.div1{
    text-align: right;
    color: blue;
}

.div2{
    text-align: right;
    color: blue;
    border-inline-end-color: blueviolet;
}

.div3{
    text-align: center;
    color: blue;
 

}
.div4{
    text-align: right;
    
}
.div5{
      text-align: right;

}
